@import "reset";
body{
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-columns: 350px auto;
}
$background:	#323049;
.programList{
  height: 100vh;
  background:$background;
  header{
    display: grid;
    grid-template-columns: 40px auto 40px;
    height: 60px;
    border-bottom: .5px solid black ;
      i{
        color: white;
        text-align: center;
        line-height: 60px;
        vertical-align: middle;
      }
      input{
        color: white;
        margin-top: 10px;
        border: transparent;
        height: 40px;
        background: $background;
        outline: none;
      }
      button{
        border: transparent;
        background: transparent;
        outline: none;
      }
  }
  main{
    ul{
      height: calc(100vh - 60px);
      overflow-y: scroll;
      ::-webkit-scrollbar{
        background: $background;
      }
      li{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: grid;
        grid-template-columns: 50px auto;
        grid-auto-rows: 1fr;
        img{
          padding: 5px;
          width: 50px;

        }
        div{
          padding-left: 10px;
          padding-right: 10px;
          line-height: 30px;
          p{
            color: white;
          }
          a{
            text-decoration: none;
            color: darkgrey;
          }
        }
      }
      li:hover{
        background: #66677c;
      }
    }
  }
}

.manager {
  background: #66677c;
  height: 100vh;
  header {
    background: $background;
    height: 60px;
    display: grid;
    grid-template-columns: auto 200px 60px 40px 50px ;
    a{
      text-align: center;
      color: white;
      line-height: 60px;
      text-decoration: none;
    }
    img{
      width: 60px;
      padding: 10px;
    }
    button{
      border: transparent;
      background: transparent;
      outline: none;
      i{
        color: white;
      }
    }
  }
  main {
    color: white;
    width: 100%;
    .titel {
      margin: 20px;
      height: 80px;
      display: grid;
      grid-template-columns: 50px auto;
      img {
        width: 50px;
      }
      h2 {
        margin-top: 10px;
        margin-left: 20px;
      }
    }
    form {
      margin-top: 15px;
      margin-left: 80px;
      display: grid;
      grid-template-rows: 30px;
      grid-auto-columns: 100%;
      label {
        color: darkgrey;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      input {
        color: white;
        width: 500px;
        border: transparent;
        background: #66677c;
        margin-top: 5px;
        margin-bottom: 5px;
        outline: none;
      }
      input:focus {
        outline: none;
        border-bottom: 2px solid #48b248;
      }
      div#strength{
        height: 10px;
        border: .5px solid darkgrey;
        border-radius: 24px;
        width: 100px;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }
}